*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --backgorund-color: steelblue;
    --text-align: center;
}
nav {
    background-color: var(--backgorund-color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
main {
    max-width: 700px;
    padding-left: 1rem;

}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba( 0,0,0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 110px;
}

h1 {
    color: var(--backgorund-color);
    margin-bottom: 1rem;
}

main img {
    width: 120px;
    height: auto;
    border: 1px solid var(--backgorund-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba( 0,0,0, 0.3);
    padding: 1rem;
    background-color: rgb(217, 223, 223);
    color: #000;
}

.indent {
    padding-left: 2rem;
}

.from {
    padding-left: 1rem;
}