*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --backgorund-color: steelblue;
    --text-align: center;
}
nav {
    background-color: var(--backgorund-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.grid { 
    display: grid;
    align-items: center;
    
}

main {
    max-width: 700px;
    padding-left: 1rem;
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba( 0,0,0, 0.2);
    padding: 2rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 33px;
    left: 110px;
}

h1 {
    color: var(--backgorund-color);
    margin-bottom: 1rem;
    margin-left: 1rem; 
    font-size: 27px;
    padding-bottom: 1rem;
    border-bottom: 1px solid steelblue;
}

main img {
    width: 120px;
    height: auto;
    border: 1px solid var(--backgorund-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba( 0,0,0, 0.3);
    /* padding: 1rem; */
    background-color: rgb(217, 223, 223);
    color: #000;
}

.indent {
    padding-left: 2rem;
}

/* .from {
    padding-left: 1rem; coment because is not necessary 
    grid-column: 1/2;
    grid-row: 1/2;
}  */

/* Week04 updates*/

header, .grid, footer {
    max-width: 840px;
    margin:0 auto;
}

